
@import url(./reset.css);
@font-face {
    font-family: 'Mooli';
    src: url('/fonts/Mooli-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Caveat";
    src: url('/fonts/Caveat-VariableFont_wght.ttf');
}
/* @import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap'); */

/*
at-rules (@)

@import - импортирует cs в css
@font-face - загружает шрифты с удаленного сервера илис локального
@media


@charset
@namespace
@suports
@document
@page
@keyframes
@counter-style

*/

h1 {
    color: blueviolet;
    font-size: 2em;
    margin: 1em 0;
    font-family: "Mooli";

}
p {
    font-size: 1.5em;
    font-family: 'Caveat';
}